<!--Investment-->
<!DOCTYPE html>
<html>
    <head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <style>
            #myHeader2{
                background-image: url('/assets/thakkarimage/money1.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-clip: border-box;
                background-origin: content-box;
                background-size: cover;
                height: 400px;
            }
        </style>
        </head>
<body>
<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader2">
  <div class="w3-center">
  <h4>TAKKAR TRADINGS</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">TOGETHER WE GROW...</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">SEE MORE</button>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4></h4>
        <h5> <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p></p>
        <p><a class="w3-btn" href="/w3css/default.asp"></a> </p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p></p>
      </footer>
    </div>
</div>

<!-- Promo Section - "We know design" -->
<!-- <div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Investment Management:</h3>
      <p>Investment management is the professional asset management of various securities (shares, bonds and other securities) and other assets (e.g., real estate) in order to meet specified investment goals for the benefit of the investors. We help our customers in dealing with the right Investment plan for a better future.</p><br>
          <hr>
      
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Works</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="img/architecture-bridge-brooklyn-bridge-421927.jpg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div> -->



  <!-- About Section -->
  <div class="w3-container w3-padding-8 w3-center">  
    <h3>Investment Management:</h3><br>
    <img src="/assets/thakkarimage/homeb3.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="500" height="733">
    <div class="w3-padding-32">
      <!-- <h4><b>I am Who I Am!</b></h4>
      <h6><i>With Passion For Real, Good Food</i></h6> -->
      <p>Investment management is the professional asset management of various securities (shares, bonds and other securities) and other assets (e.g., real estate) in order to meet specified investment goals for the benefit of the investors. We help our customers in dealing with the right Investment plan for a better future.</p>
    </div>
  </div>
  <hr>

  <!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-center" style="max-width:1200px">
<h3>Portfolio Management is further of the following types:</h3>
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/assets/thakkarimage/analysis-blackboard-board-355952.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/assets/thakkarimage/adult-architecture-blur-705792.jpg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/assets/thakkarimage/21148.jpg" alt="Cherries" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="/assets/thakkarimage/background-boats-business-439858.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
    
        <img src="/assets/thakkarimage/adult-architecture-blur-705792.jpg" alt="Steak" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <img src="/assets/thakkarimage/21148.jpg" alt="Cherries" style="width:100%">
     
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
        <img src="/assets/thakkarimage/background-boats-business-439858.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
        <img src="/assets/thakkarimage/analysis-blackboard-board-355952.jpg" alt="Sandwich" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
</div>
   <!-- Footer -->
   <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p><a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">Thakkar trading</a></p>
  </footer>

  </body>
  <!-- Pagination -->
  <!-- <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
  <hr id="about"> -->
